$darkest-blue: #074270;
$dark-blue: #0960A3;
$light-blue: #19e4ff;
$lighter-blue: #B3ECFD;
$transparent-blue: #B3ECFD88;

$font: 'Unbutu', sans-serif;

$default-box-model: border-box;
$no-margin: 0;
$no-outline: 0;
$no-padding: 0;




$body-bg-color: $dark-blue;
$body-height: 100vh;
$body-padding: 0.7rem;
$body-txt-align: center;


$button-bg-color: $lighter-blue;
$button-border: solid 2px $light-blue;
$button-color: $dark-blue;
$button-padding: 0.5rem 1.5rem;


$city-color: $lighter-blue;
$city-font-size: 1.3rem;
$city-font-weight: 600;


$container-margin: 1rem;


$container-p-color: $transparent-blue;
$container-p-margin: 0.3rem;


$form-width: 100%;
$form-max-width: 60ch;


$form-item-margin: 1rem;
$form-item-position: relative;


$label-color: $light-blue;
$label-font-size: 0.95rem;
$label-left: 1rem;
$label-position: absolute;
$label-top: calc(50% - 0.50rem);
$label-transition: 0.25s;


$label-floating-font-size: 0.75rem;
$label-floating-top: 0.2rem;


$results-bg-color: $darkest-blue;
$results-border: groove 2px $light-blue;
$results-margin: 1rem;
$results-max-width: 60ch;
$results-padding: 2rem 0rem;
$results-visibility: hidden;
$results-width: 100%;


$search-bg-color: $dark-blue;
$search-border: groove 2px $light-blue;
$search-color: $light-blue;
$search-padding: 1rem;
$search-width: 100%;


$status-h1-color: $light-blue;
$status-h1-font-size: 1.3rem;
$status-h1-font-weight: 400;
$status-h1-margin: 0.5rem;


$title-color: $light-blue;
$title-font-size: calc(2rem + 2vw);
$title-margin: 3rem;


$temp-h1-color: $light-blue;
$temp-h1-font-size: 4rem;


$warning-color: $light-blue;
$warning-display: none;
$warning-font-size: 1.5rem;
$warning-margin: 3rem;


$wind-border: dotted 2px $lighter-blue;
$wind-padding: 0.5rem;


$wind-legend-color: $lighter-blue;