$dark-blue: #0960A3;
$light-blue: #19E4FF;

$font: 'Unbutu', sans-serif;

$default-box-model: border-box;
$no-margin: 0;
$no-outline: 0;
$no-padding: 0;




$body-bg-color: $dark-blue;
$body-height: 100vh;
$body-padding: 0.7rem;
$body-txt-align: center;


$form-width: 100%;


$search-bg-color: $dark-blue;
$search-border: groove 2px $light-blue;
$search-color: $light-blue;
$search-padding: 0.5rem 1rem;
$search-width: 100%;


$title-color: $light-blue;
$title-margin: 2rem;