@use '../abstract' as abs;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
  box-sizing: abs.$default-box-model;
  margin: abs.$no-margin;
  padding: abs.$no-padding;
}

body {
  @include abs.flex($direction: column);
  background-color: abs.$body-bg-color;
  font-family: abs.$font;
  min-height: abs.$body-height;
  padding: abs.$body-padding;
  text-align: abs.$body-txt-align;

  h1,
  p {
    color: abs.$text-color;
  }

  .title {
    font-size: abs.$title-font-size;
    margin-bottom: abs.$title-margin;
  }

  .desc {
    font-size: abs.$desc-font-size;
    font-weight: abs.$desc-font-weight;
    margin-bottom: abs.$desc-margin;
  }
}